INSTANCE_NAME="Team xxxxx Laser Tracker Server"
VERSION="26.8.2" # Do not change
PORT="2077" # Port the server will run on, must be port forwarded to reach the internet
DATABASE_URL="" # Url to the database
TBA_API_KEY="" # Fill with your Blue Alliance Read API Key
JWT_SECRET="" # Set this once and do NOT change it unless you know what you are doing.
IS_TESTING="false" # Testing will return example event data